VITE_SOLANA_LOCALNET_RPC_URL=http://127.0.0.1:8899
VITE_TASTENET_RPC_URL=http://127.0.0.1:8898
VITE_SOLANA_EXPLORER_BASE_URL=https://explorer.solana.com
VITE_TASTENET_STUDIO_URL=http://127.0.0.1:18488/
TASTENET_BACKEND_RPC_URL=http://127.0.0.1:8898
